pip>=23.0
setuptools>=75.0.0
wheel>=0.45.1
# Используйте версию, совместимую с Python 3.11/3.12 и имеющую wheels
# Например, 1.24.3 (из вашего оригинального скрипта) или 1.25.2
numpy==1.25.2
pandas==2.2.3
openpyxl==3.1.5
Flask==3.1.0
Werkzeug==3.1.3
gunicorn==23.0.0
